@import url("node_modules/modern-normalize//modern-normalize.css");

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background-color: #333;
  margin: 20px;
}

h1,
h2 {
  font-weight: bold;
  margin: 20px;
}
