@import url("node_modules/modern-normalize//modern-normalize.css");

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background-color: #333;
  margin: 20px;
}

header {
  background: #01070f;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1,
h2 {
  font-weight: bold;
  margin: 20px;
}

li {
  margin-bottom: 20px;
}

label {
  margin-right: 4px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

a {
  color: #146c96;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
